body {
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;

	/*position поигратся*/
	background: url(../images/bg.jpg) 34.8% 8.9%;
}

.clear-fix:after {
	display: block;
	clear: both;
	content: '';
}

.main-wrapper {
	max-width: 900px;
	margin: 12px auto;
	background-color: #ffffff;
	border-radius: 8px;
}

a {
	display: inline-block;
	color: #577613;
	line-height: 1;
	border-bottom: 2px solid #b5c1a3;
}

.footer a {
	border: 0;
}

.header__top,
.footer-text,
.footer a,
.navigation__title {
	color: #ffffff;
}

.header__top,
.footer {
	padding: 15px;
	background-color: #31420b;
	border-radius: 8px;
}

.header__content {
	padding: 12px 15px 0;
}

.header__logo {
	position: relative;
	padding: 10px 0 0 227px;
	color: #000000;
	font-size: 64px;
	line-height: 94px;
	letter-spacing: 16px;
	text-align: center;
	border: 0;
}

.header__logo img {
	position: absolute;
	top: 0;
	left: 15px;
}

.header__logo::first-line {
	font-size: 50px;
	line-height: 68px;
	letter-spacing: 0;
	text-transform: uppercase;
}

.logo-text__row2 {
	display: block;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
}

.header__logo::after {
	display: inline-block;
	margin-right: -44px;
	content: '';
}

.header__content-contacts {
	float: right;
	padding-top: 30px;
	text-align: right;
}

.header__content-contacts li {
	padding-bottom: 20px;
}

.contacts__phone {
	display: inline-block;
	padding-top: 8px;
}

.main {
	padding: 22px 15px 25px;
}

h1 {
	padding: 10px 0 10px;
	font-size: 28px;
}

.main__content {
	float: left;
	width: 569px;
}

.main__content-text {
	padding: 17px 0 11px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-indent: 20px;
}

.text2 {
	padding-top: 12px;
}

.main__content-text a {
	font-size: 16px;
	text-indent: 0;
}

.text-italic,
.text-italic a {
	font-size: 14px;
	font-style: italic;
}

.main_link-italic {
	border-bottom: 1px solid #95a779;
}

.navigation {
	float: right;
	width: 300px;
	padding: 0 15px;
}

.navigation__title {
	margin-right: -30px;
	padding-left: 15px;
	font-size: 22px;
	line-height: 2.18;
	background-color: #31420b;
}

.navigation__content {
	padding: 29px 15px 0px 16px;
}

.navigation__content li {
	padding-bottom: 16px;
}

.navigation__content a:hover,
.header__content-contacts a:hover {
	color: #8bbd1d;
	border-color: #8bbd1d;
}

.footer {
	display: flex;
	justify-content: space-between;
}
