body {
	/*position поигратся*/

	background: url(../images/bg.jpg) 34.8% 8.9%;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

.clear-fix:after {
	content: "";
	clear: both;
	display: block;
	}

.main-wrapper {
	margin: 12px auto;
	max-width: 900px;
	border-radius: 8px;
	background-color: #ffffff;
}

.header__top,
.footer-text,
.footer a,
.navigation__title {
	color: #ffffff;
}

.header__top,
.footer {
	background-color: #31420b;
	border-radius: 8px;
	padding: 15px;
}

a {
	color: #577613;
	border-bottom: 2px solid #b5c1a3;
	display: inline-block;
	line-height: 1;
}

.header__content {
	padding: 12px 15px 0px;
}

.header__logo {
	padding: 0 0 0 15px;
}

/*.header__logo-text,
.header__logo,
.header__content-contacts {
	display: inline-block;
	vertical-align: text-bottom;
}*/

.header__logo {
	float: left;
}

.header__logo a {
	display: block;
}

.header__logo img {
	display: block;
	float: left;
}
.header__logo-text {
	display: inline-block;
	padding: 18px 0 0 34px;
	text-align: center;
	/*padding-left: 28px;
	padding-bottom: 16px;*/
}

.logo-text__row1,
.logo-text__row2,
.logo-text__row3 {
	display: block;
	color: #000000;
}

.logo-text__row1 {
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 13px;
	padding-left: 2px;
}

.logo-text__row2 {
	font-size: 24px;
	padding-bottom: 20px;
}

.logo-text__row3 {
	font-size: 64px;
}

.header__content-contacts {
	float: right;
	text-align: right;
	padding-top: 30px;
}

.header__content-contacts li {
	padding-bottom: 20px;
}

.contacts__link {
	display: inline-block;
	padding-top: 8px;
}

.main {
	padding: 22px 15px 25px;
}

h1 {
	font-size: 28px;
	padding: 10px 0 10px;
}

.main__content {
	float: left;
	width: 569px;
}

.main__content-text {
	text-indent: 20px;
	font-size: 16px;
	line-height: 1.5;
	padding: 17px 0 11px;
	font-weight: 500;
}

.text2 {
	padding-top: 12px;
}

.main__content-text a {
	font-size: 16px;
	text-indent: 0;
}

.text-italic,
.text-italic a {
	font-style: italic;
	font-size: 14px;
}

.main_link-italic {
	border-bottom: 1px solid #95a779;
}

.navigation {
	float: right;
	width: 300px;
	padding: 0 15px;
}

.navigation__title {
	font-size: 22px;
	line-height: 2.18;
	padding-left: 15px;
	margin-right: -30px;
	background-color: #31420b;
}

.navigation__content {
	padding: 29px 15px 0px 16px;
}

.navigation__content li {
	padding-bottom: 16px;
}

.navigation__content a:hover,
.header__content-contacts a:hover {
	color: #8bbd1d;
	border-color: #8bbd1d;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer a,
.header__logo a {
	border: none;
}

/*.footer-text {
	display: inline-block;
}*/
